.linkListForm {
    padding: 0px;
    
    .addButtonCell {
      display: table-cell;

      .addButton {
        margin-left: 10px;
        white-space: nowrap;
        height: 32px;
      }
    }
}